* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* ms_classes */



/* ms_style */

.ms_cf1 {
    background-color: black;
    min-height: 25px;
}

header .col-3 img {
    width: 55px;
}

header .col-3 i {
    font-size: 22px;
}

.ms_cf2 {
    min-height: 660px;
    color: white;
    background-image: url(img/jumbo-bg.png);
    background-position: center;
}

.ms_button {
    background-color: rgb(206, 66, 0);
    width: 120px;
}

.ms_rounded {
    border-radius: 10px;
}

.ms_border1:hover {
    border-radius: 15px;
    border: 2px solid rgb(0, 60, 255);
}

.ms_button1 {
    color: white;
}

nav {
    font-weight: bold;
}

#ms_color1 {
    color: black;
}

#ms_color2 {
    color: white;
    text-decoration: none;
}

#ms_color3 {
    color: rgb(0, 60, 255);
}

.ms_buttonx {
    color: white;
    background-color:rgb(0, 60, 255);
    width: 189px;
}

.ms_borderb:active {
    border-bottom: 2px solid rgb(0, 60, 255);
}

.ms_filterb {
    filter: opacity(60%);
}

.ms_filterb:hover {
    filter: opacity(100%);
}

.ms_color4 {
    color: grey;
    font-weight: 400;
}

.ms_cf4 {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}

.ms_width-button {
    width: 121px;
}

.ms_width-button1 {
    width: 203px;
}

.ms_cf5 {
    background-color: grey;
}

.ms_cf6 {
    background-color: rgb(0, 0, 99);
}

#ms_button3 {
    background-color: white;
    color: black;
}

#ms_button4 {
    background-color: lightgray;
    color: rgb(0, 60, 255);
}

.ms_cf7 {
    background-color: rgb(0, 60, 255);
}

#ms_width-logo {
    width: 150px;
    filter: brightness(0) invert(1);
}

#hidden {
    display: none;
}